:root {
    --background-color: black;
    --fs-slogan: clamp(40px, 5vw, 4.5rem);
    --fs-l: clamp(26px, 3.5vw, 3.5rem);
    --fs-m: clamp(20px, 2.25vw, 2rem);
    --fs-s: clamp(16px, 1.5vw, 1.25rem);
    --fs-para: clamp(16px, 1.25vw, 1.5rem);
    --fw-thick: 800;
    --fw-medium: 600;
    --fw-thin: 300;
}

html {
    background: black;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 5vw;
    border: 2px solid white;
    font-family: "Shrikhand";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-height: 75%;
    max-width: 75%;
    border-radius: 5rem;
}

h1 {
    font-size: var(--fs-m);
    color: black;
}

h2 {
    font-size: var(--fs-s);
    color: black;
    font-weight: var(--fw-thin);
}

button {
    background: transparent;
    color: black;
    border: none;
    font-size: var(--fs-s);
    font-weight: var(--fw-thin);
    margin-top: 2em;
    cursor: pointer;
    font-family: "Shrikhand";
}

@media only screen and (max-width: 750px) {
    div {
        width: 75%;
    }
}

@media only screen and (max-height: 500px) {
    div {
        height: 50%;
    }
}